<h1>Curious about local birds?</h1>
<h3>Enter a location to learn about birds recently spotted in your area.</h3>

<form action="/nearby_birds">
  <label for="user_location">Enter a location: </label>
  <input type="text" id="user_location" name="user_location">
  <button>Show me birds!</button>
</form>

<h1>Here's some bird data!</h1>
