<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      * {
        color: #5a5a5a;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background: linear-gradient(lightblue, lightgrey);
      }
      .box {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        padding: 10px;
        margin: 10px;
      }
      .home {
        height: 100vh;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
